.search-car {
    padding: 24px;
    position: sticky;
    margin: -80px 0 0;
    z-index: 4;
}

.overlay {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  
  body.lock-scroll {
    overflow: hidden !important;
  }



@media screen and (max-width: 991px) {
   .search-car{
        margin: -50px 70px;
   }
   
}

@media screen and (max-width: 551px) {
    .col-sm {
        margin: 10px 0 0;
    }
    
 }